<div class="form">
<h3>Welcome to our page.</h3>
<nav class="navbar navbar-expand-lg">

  <br/>
  <p>In this digital era of smartphone and the internet, the fake news spreads
    like wildfire, it looks just like the real news and causes much damage
    to the community. The purpose of this project is to come up with solution
    that can be utilized by users to detect and filter out claims and
    news articles containing false and misleading information. So,
    in this project we are going to build a fake news classifier
    that would allow users to write a claim, drag and drop, paste
    an article or link from a source and the fake news classifier
    would than use its embedded algorithms to detect if the information
    it creditable or not by giving the user a probability of the
    information being fake news or not. In this digital era of
    smartphone and the internet, the fake news spreads like wildfire,
    it looks just like the real news and causes much damage to the
    community. The purpose of this project is to come up with solution
    that can be utilized by users to detect and filter out claims and
    news articles containing false and misleading information. So,
    in this project we are going to build a fake news classifier that
    would allow users to write a claim, drag and drop, paste an article
    or link from a source and the fake news classifier would than use its
    embedded algorithms to detect if the information it creditable or not
    by giving the user a probability of the information being fake news or not. </p>
</nav>
</div>
